.shortcuts div {
    width: 23.5%;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out
}

.shortcuts div:hover {
    -webkit-box-shadow: 0 5px 40px -5px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 40px -5px rgba(0, 0, 0, .5);
    top: -5px
}

.shortcuts div a {
    text-decoration: none;
    color: #197ae2;
    position: relative;
    width: 100%;
    height: 100%;
    display: block
}

.shortcuts div i {
    position: absolute;
    top: 35%;
    font-size: 70px;
    left: 10px;
}

.shortcuts div span {
    font-size: 62px;
    position: relative;
    top: -25px;
    display: block;
}

.shortcuts div h3 {
    margin: 0;
    font-size: 26px;
    position: absolute;
    bottom: 0;
}

.brief div {
    width: 100%;
    padding: 0;
    position: relative;
    margin-bottom: 3%
}

.brief div h2 {
    color: #197ae2;
    margin: 0;
    font-size: 20px;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd
}

.timetable {
    overflow: hidden;
}

.timetable a {
    position: absolute;
    left: 15px;
    top: 7.5px;
    font-size: 20px;
    color: #197ae2
}

.timetable table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.timetable table th,.timetable .clock:first-of-type {
    color: #fff;
    background: #197ae2;
    padding: 6px;
    width: calc(100% / 6);
}

.timetable table td {
    padding: 6px;
    border: 1px solid #ddd
}

.timetable table td:nth-of-type(even) {
    background: #eee;
}