input:focus,
select:focus {
    outline: none;
}

.settings > div {
    width: 100%;
}

.settings form {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.settings form div {
    width: 33%
}

.settings form div label {
    color: #197ae2
}

.settings form select {
    border: 1px solid #ddd;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font: 600 15px 'Changa';
    padding: 5px;
    width: 98%;
    margin: 5px 0
}

.settings .done {
    border: none;
    padding: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    background: #197ae2;
    color: #fff;
    font: 500 17px 'Changa';
    width: 120px;
    cursor: pointer;
    margin: 20px auto 0;
    display: inherit;
}
